body {
	margin: 0;
}

.container {
	padding: 20px 0px;
}

#winner {
	display: none;
	margin: 0 auto;
	text-align: center;
	font-family: Tahoma, san-serif;
	font-weight: bold;
	font-size: 20px;
	color: white;
	background-color: gray;
	min-width: 200px;
	max-width: 500px;
	height: 60px;
	line-height: 60px;
	border-radius: 4px;


};